partner1 = {
        'url': 'https://partner1.com/?api_key={api_key}&start_date={start_date}&end_date={end_date}'
        'api_key': '',
        'date_format': '%Y-%m-%d'
        }

SOURCES = {
        'partner1': partner1
        }

