SOURCES = {
    'partner1': {
        'type': 'api'
        'url': 'https://partner1.com/?api_key={api_key}&start_date={start_date}&end_date={end_date}'
        'api_key': '',
        'cache_file': True,
        'load_raw_file': True,
        'date_format': '%Y-%m-%d'
        }
    }
DESTINATIONS = {
    'gcs': {
        'bucket': 'some-bucket-name',
        'prefix': 'some-object-prefix/'
    },
    'fs': {
        'prefix': './data/'
    }
}