from copy import deepcopy
from configs import revenue

SOURCES = deepcopy(revenue.SOURCES)

SOURCES['google_search_rps']['bucket'] = 'moz-taipei-bi-test'
SOURCES['google_search_rps']['prefix'] = 'test/'

DESTINATIONS = deepcopy(revenue.DESTINATIONS)

DESTINATIONS['gcs']['bucket'] = 'moz-taipei-bi-test'
DESTINATIONS['gcs']['prefix'] = 'test/'
